.bg-image{
    background-color: #f9ca00ff;
}
.colored-icon{
    max-width: 20px;
    max-height: 20px;
}
.disabled{
    background-color: #0d6dfdab;
    border-color: transparent;
}
.dropdown-item:hover{
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
.dropdown-item.profile small:hover{
    text-decoration: underline;
}
.dropdown-item.profile:hover{
    text-decoration: none;
}
.fixed-size-img{
    width: 200px;
    aspect-ratio: auto 200 / 134;
    height: 134px;
}
.fs-xxxl{
    font-size: 90px;
}
.max-700{
    max-width: 700px;
}
.modal-bg{
    background-color: rgb(0, 0, 0, 0.55);
    color: white;
}
.setting-item:hover{
    transform: scale(1.025);
    color: black!important;
    font-weight: bold;
}
.w-46{
    width: 46%!important;
}
.w-fit{
    width: -moz-fit-content;
    width: fit-content;
}


